{% extends 'entries/base.html' %}

{% block content %}
    {% if form.errors %}
        <p>Username and password did not match. Please try again.</p>
    {% endif %}
		<div class="jumbotron" style="margin-top: 5em; position: relative; height: 30vh; background-color: rgba(72, 32, 182, 0.5);">
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.username.label_tag }}</td>
                    <td>{{ form.username }}</td>
                </tr>

                <tr>
                    <td>{{ form.password.label_tag }}</td>
                    <td>{{ form.password }}</td>
                </tr>
            </table>

            <input type="submit" class="btn btn-primary" value="login" />
            <input type="hidden" name="next" value="{{ next }}">
    </form>
    </div>
{% endblock %}
