{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>django-diary</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'entries/style.css' %}">
  <link rel="stylesheet" href="{% static 'base.css' %}">
</head>

<body class="fluid">

  <nav class="navbar sticky-top navbar-expand-md navbar-light" style="background-color: rgba(72, 32, 182, 0.5); color: #fff;">
    
    <a class="navbar-brand" style="color: #fff;" href="/">DDiary</a>
    <a class="nav-item nav-link active" href="/" style="color: #fff;">
      Dashboard</a>

    <!-- toggle menu button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- nav links -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
      	<a class="nav-item nav-link btn btn-primary btn-sm" href="{% url 'post_new' %}" class="top-menu" style="color: #fff;">
          New entry</a>

        {% if user.is_authenticated %}
        <p class="nav-item nav-link" style="color: #fff;">
          Hi {{ user.username }} <small>(<a href="{% url 'logout' %}" style="color: #fff;">
            Log out</a>)</small></p>
        {% else %}
        <a class="nav-item nav-link" href="{% url 'login' %}" class="top-menu" style="color: #fff;">login</a>
        <a class="nav-item nav-link" href="{% url 'signup' %}" class="top-menu" style="color: #fff;">signup</a>
        {% endif %}
      </div>
    </div>
  </nav>

  <div class="content container">
    <div class="col-sm-12">
      {% block content %}
      {% endblock %}
    </div>
  </div>

  <!-- Footer -->
  <footer class="page-footer font-small blue" style='background:rgba(8, 6, 66, .6); bottom: 0; position: absolute; width: 100%'>

    <div class="footer-copyright text-center py-3">Nicholas mtabo © 2019 Copyright:
      <a href="/"> ddiary.com</a>
    </div>
  </footer>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>
